<?xml version="1.0"?>
<model>
  <name>hero_cessna</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>TEKNOFEST Team</name>
    <email>team@teknofest.org</email>
  </author>
  <description>
    Hero RC Cessna with front-facing camera for TEKNOFEST competition
  </description>
</model>
